*
{
	margin: 0;
	padding: 0;
}

body
{
	background-image: url(../image/back.jpg);
	background-attachment: fixed;
}

h1
{
	padding-top: 10px;
	font-size: 50px;
    font-weight: normal;
    text-shadow: 1px 1px 1px silver,
                 -1px 1px 1px silver;
    color: white;
}

ul
{
	position: relative;
    left: 21.5%;
	list-style: none;
	height: 50px;
	max-width: 70%;
}

ul li
{
	float: left;
}

ul li a
{
	text-decoration: none;
	display: block;
	color: black;
	padding: 0 30px;
	text-transform: uppercase;
	line-height: 50px;
}

ul li a:hover
{
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

.box1
{
	position: sticky;
	top: 0;
	z-index: 1;
	margin: 0 auto;
	width: 960px;
    margin-top: 5px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	max-width: 90%;
	max-height: 70%;
	overflow: hidden;
	border-bottom: 3px outset white;
	border-right: 3px outset white;
}

.box2
{
	margin: 0 auto;
	width: 960px;
	height: 500px;
    margin-top: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	max-width: 90%;
	max-height: 70%;
	overflow: hidden;
	text-align: center
}

.p1
{
	margin-top: 30px;
	margin-left: 45px;
	font-size: 90px;
    text-shadow: 1px 1px 1px silver,
                 -1px 1px 1px silver;
    color: rgba(0, 0, 0, 0.8);
}

.pp
{
	position: relative;
	bottom: 102px;
	margin-right: 65px;
	font-size: 90px;
    text-shadow: 1px 1px 1px silver,
                 -1px 1px 1px silver;
    color: rgba(0, 0, 0, 0.8);
}

.pp1
{
	position: relative;
	bottom: 20px;
	font-size: 30px;
	font-weight: normal;
    text-shadow: 1px 1px 1px silver,
                 -1px 1px 1px silver;
    color: rgba(0, 0, 0, 1);
	margin: 20px;
}

.pick
{
	position: relative;
	top: -470px;
	width: 100%;
	max-width: 100%;
	height: auto;
	z-index: -100;
}

.box3
{
	margin: 0 auto;
	width: 960px;
	height: 400px;
    margin-top: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	max-width: 90%;
	max-height: 70%;
	overflow: hidden;
	text-align: center;
}

.p3
{
	position: relative;
	top: -20px;
	left: 220px;
	font-size: 50px;
	text-shadow: 1px 1px 1px silver,
                 -1px 1px 1px silver;
    color: rgba(0, 0, 0, 1);
}

.pick1
{
	position: relative;
	top: 50px;
	max-width: 100%;
	height: auto;
}

.box4
{
	margin: 0 auto;
	width: 960px;
    margin-top: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	max-width: 90%;
	max-height: 70%;
	text-align: center;
	overflow: hidden;
}

.pick2
{
	max-width: 100%;
	height: auto;
}

.pick21
{
	position: relative;
	top: 60px;
	right: 200px;
	max-width: 100%;
	height: auto;
}

.pick21:hover
{
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.pick22
{
	position: relative;
	top: 60px;
	left: 200px;
	max-width: 100%;
	height: auto;
}

.pick22:hover
{
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.pick23
{
	position: relative;
	top: -60px;
	right: 200px;
	max-width: 100%;
	height: auto;
}

.pick23:hover
{
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.pick24
{
	position: relative;
	top: -60px;
	left: 200px;
	max-width: 100%;
	height: auto;
}

.pick24:hover
{
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.box5
{
	margin: 0 auto;
	width: 960px;
    margin-top: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	max-width: 90%;
	max-height: 70%;
	text-align: center;
	overflow: hidden;
}

.pp2
{
	font-size: 20px;
	font-weight: normal;
    text-shadow: 1px 1px 1px silver,
                 -1px 1px 1px silver;
    color: rgba(0, 0, 0, 1);
}

.pick25
{
	max-width: 100%;
	height: auto;
	float: left;
	margin: 7px 7px 7px 7px;
	border-radius: 10px;
}

.pick25:hover
{   -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
	cursor: pointer;
}

.pick26
{
	max-width: 100%;
	height: auto;
	float: right;
	margin: 7px 7px 7px 7px;
	border-radius: 10px;
}

.pick26:hover
{   -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
	cursor: pointer;
}

.tt
{
	text-decoration: none;
	font-size: 25px;
}

.box6
{
	margin: 0 auto;
	width: 960px;
    margin-top: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	max-width: 90%;
	max-height: 70%;
	overflow: hidden;
	text-align: center;
}

.pick27
{
	margin: 10px;
	margin-left: 30px;
}

.box7
{
	margin: 0 auto;
	width: 960px;
    margin-top: 20px;
	background-color: rgba(255, 255, 255, 0);
	max-width: 90%;
	max-height: 70%;
	overflow: hidden;
	margin-bottom: 20px;
	text-align: center;
}

p
{
	font-size: 20px;
	color: white;
}

.ttt
{
	margin-top: 10px;
	font-size: 30px;
    color: black;
}

