*
{
	margin: 0;
	padding: 0;
}

body
{
	background-image: url(../image/back.jpeg);
	background-attachment: fixed;
}

h1
{
	padding-top: 10px;
	font-size: 50px;
    font-weight: normal;
    text-shadow: 1px 1px 1px silver,
                 -1px 1px 1px silver;
    color: white;
}

ul
{
    position: relative;
    list-style: none;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
}

ul li
{
    display: inline-block;
    margin-right: 20px;
}

ul li a
{
    text-decoration: none;
    display: block;
    color: black;
    padding: 10px;
    text-transform: uppercase;
}

ul li a:hover
{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.box1
{
	position: sticky;
	top: 0;
	z-index: 1;
	margin: 0 auto;
	width: 960px;
    margin-top: 5px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	max-width: 90%;
	max-height: 70%;
	overflow: hidden;
	border-bottom: 3px outset white;
	border-right: 3px outset white;
}

.box2
{
	margin: 0 auto;
	width: 960px;
	height: 500px;
    margin-top: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	max-width: 90%;
	max-height: 70%;
	overflow: hidden;
	align-items: center;
	text-align: center
}

.box3
{
	display: flex;
    flex-direction: column;
    align-items: center;
	margin: 0 auto;
	width: 960px;
	height: auto;
    margin-top: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	max-width: 90%;
	max-height: 70%;
	overflow: hidden;
	text-align: center;
}

.box4
{
	margin: 0 auto;
	width: 960px;
    margin-top: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	max-width: 90%;
	max-height: 70%;
	text-align: center;
	overflow: hidden;
}

.box5 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    max-width: 960px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    padding-bottom: 10px;
}

.box6
{
	margin: 0 auto;
	width: 960px;
    margin-top: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	max-width: 90%;
	max-height: 70%;
	overflow: hidden;
	text-align: center;
}

.box7
{
	margin: 0 auto;
	width: 960px;
    margin-top: 20px;
	background-color: rgba(255, 255, 255, 0);
	max-width: 90%;
	max-height: 70%;
	overflow: hidden;
	margin-bottom: 20px;
	text-align: center;
}

.pp1
{
	position: relative;
	top: 230px;
	font-size: 30px;
    text-shadow: 1px 1px 1px silver,
                 -1px 1px 1px silver;
    color: rgba(0, 0, 0, 1);
	margin: 20px;

	@media (max-width: 850px) {
        font-size: 25px;
    }
}

.pick
{
	position: relative;
	top: -240px;
	max-width: 100%;
	height: auto;
	z-index: -1;

	@media (max-width: 850px) {
		max-width: 50%;
		border-radius: 10px;
	}
}

.diploma-container {
    display: flex;
    justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.education-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
	margin-bottom: 30px;
}

.education-item {
    text-align: center;
	max-width: 300px;
}

.course-image {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
	margin-bottom: 30px;
	margin-top: 10px;
	transition: transform 0.3s ease;
}

.course-image:hover {
    transform: scale(1.4);
}

.pick1
{
	margin-top: 20px;
	max-width: 50%;
	height: auto;
	margin: 0 auto;
}

.pick2
{
	max-width: 80%;
	width: 200px;
	height: auto;
}

.pick21,
.pick22,
.pick23,
.pick24 {
    position: relative;
	width: 20%;
    height: auto;
}

.pick21 {
    top: 5%;
    right: 20%;
}

.pick22 {
    top: 5%;
    left: 20%;
}

.pick23 {
    right: 20%;
    bottom: 5%;
}

.pick24 {
    left: 20%;
    bottom: 5%;
}

.project-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.project-item {
    flex: 1;
}

.project-image {
    width: 60%;
    height: auto;
    margin: 0 auto;
    border-radius: 30px;
    border: 3px solid transparent;
}

.project-description {
    text-align: justify;
    padding-right: 50px;
	color: rgba(0, 0, 0, 1);
}

.section {
    margin-bottom: 20px;
}

.section h3 {
    color: #333;
}

.project-divider {
    margin: 15px auto;
	margin-bottom: 20px;
    border-top: 1px solid #494545;
    width: 90%;
}

.socials
{
	margin: 10px;
	margin-left: 30px;
	width: 70px;
	height: auto;
}

.block-title {
    font-size: 50px;
	margin-top: 10px;
	font-style: italic;
	text-shadow: 1px 1px 1px silver,
                 -1px 1px 1px silver;
    color: rgba(0, 0, 0, 1);
}

p
{
	font-size: 20px;
	color: rgb(243, 235, 235);
}

.ttt
{
	margin-top: 10px;
	font-size: 30px;
    color: black;
}

